<input
    type="text"
    name="title"
    placeholder="Title"
    value="<%= book.title %>"
>
<br>
<select name="author">
    <% authors.forEach(author => { %>
        <% if(author.id === book.author?.toString()) { %>
            <option selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %>
            <option label="<%= author.name %>" value="<%= author.id %>">
        <% } %>
    <% }) %>
</select>
<br>
<input
    type="date"
    name="publishDate"
    value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>"
>
<label>Publish Date</label>
<br>
<input
    type="number"
    name="pageCount"
    placeholder="Page Count"
    min="1"
    value="<%= book.pageCount %>"
>
<br>
<textarea name="description" placeholder="Description"><%= book.description %></textarea>
<br>